h1{
    color: black;
}
.article{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.article textarea{
    width: 300px;height: 300px;
}
.commentBox{
    display: grid; grid-template-columns: 50px 200px 120px 50px 50px 50px;
}
.commentBox nav,input{
    border: 1px solid; margin-top: 5px; font-size: 12px; height: 20px;
}